In [21]:
def checkStrings(longString, shortString):
    inc = 0
    for i in range(len(shortString)):
        if longString[i + inc] != shortString[i]:
            if inc == 0 and shortString[i] == longString[i+1]:
                inc = 1
            else:
                return False
    return True

def equalsWhenOneCharRemoved(x, y):
    if abs(len(x) - len(y)) != 1:
        return False
    else:
        if len(x) > len(y):
            return checkStrings(x, y)
        else:
            return checkStrings(y, x)

In [22]:
[equalsWhenOneCharRemoved("x", "y"),
equalsWhenOneCharRemoved("x", "XX"),
equalsWhenOneCharRemoved("yy", "yx"),
equalsWhenOneCharRemoved("abcd", "abxcd"),
equalsWhenOneCharRemoved("xyz", "xz")]

[False, False, False, True, True]

In [27]:
import numpy as np
import pandas as pd
import csv
import json

In [87]:
df = pd.DataFrame({'user_id': [], 'product_id': [], 'quantity': []})
with open("SWE sample data - Q2 data.csv") as csvfile:
    readcsv = csv.reader(csvfile, delimiter=',')
    for row in readcsv:
        df = df.append(json.loads(row[0]), ignore_index=True)
quantity = df.groupby(['product_id']).sum().idxmax()[0]
purchasers = df.groupby(['product_id','user_id']).count().reset_index().groupby('product_id').count().idxmax()[0]
print('Most popular product(s) based on the number of purchasers: ' + purchasers)
print('Most popular product(s) based on the quantity of goods sold: ' + quantity)

Most popular product(s) based on the number of purchasers: 5Y0
Most popular product(s) based on the quantity of goods sold: GXX

In [89]:
df2 = pd.read_csv("SWE sample data - Q3 data.csv")

In [109]:
df2[df2['country_id'] == 'BDV'].groupby(['site_id', 'user_id']).count().reset_index().groupby('site_id').count()

         user_id   ts  country_id
site_id
3POLC          2    2           2
5NPAU        544  544         544
N0OTG         90   90          90

In [115]:
from datetime import datetime

In [133]:
with_dt = df2
with_dt['dt'] = [datetime.strptime(i, '%Y-%m-%d %H:%M:%S') for i in with_dt['ts']]
high_bound = datetime.strptime('2019-02-04 23:59:59', '%Y-%m-%d %H:%M:%S')
low_bound = datetime.strptime('2019-02-03 00:00:00', '%Y-%m-%d %H:%M:%S')
in_bounds = with_dt[with_dt['dt'] > low_bound][with_dt['dt'] < high_bound]
grouped = in_bounds.groupby(['user_id', 'site_id']).count().reset_index()
grouped[grouped['ts'] > 10]

C:\Users\wbail\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

    user_id site_id  ts  country_id  dt
3    LC06C3   N0OTG  25          25  25
417  LC3A59   N0OTG  26          26  26
485  LC3C7E   3POLC  15          15  15
493  LC3C9D   N0OTG  17          17  17

In [143]:
with_dt.groupby('user_id').max().reset_index().groupby('site_id').count()

         user_id   ts  country_id   dt
site_id
3POLC         20   20          20   20
5NPAU        888  888         888  888
EUZ/Q          1    1           1    1
GVOFK         42   42          42   42
JSUUP          2    2           2    2
N0OTG        608  608         608  608
QGO3G        353  353         353  353
RT9Z6          2    2           2    2

In [146]:
count = 0
for user in with_dt['user_id'].unique():
    first = with_dt[with_dt['user_id'] == user].dt.min()
    last = with_dt[with_dt['user_id'] == user].dt.max()
    if first == last:
        count += 1
print(count)

1261